body {
    margin: 0;
    padding: 0;
    background: linear-gradient(
      179.4deg,
      rgb(12, 20, 69) -16.9%,
      rgb(71, 30, 84) 119.9%
    );
    color: aliceblue;
    height: 100vh;
  }
.container {
    /* max-width: 800px;
     */
     width: fit-content;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
h1 {
    font-size: 43px;
    text-align: center;
    padding: 0;
    margin: 0;
    background: -webkit-linear-gradient(#ede3e3, #1c066e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
.back {
    border: none;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    margin: 20px;
    background-color: #31304d;
    color: #f0ece5;
    transition: all 0.3s ease;
    border-radius: 5px;
  }
  
  .back i {
    padding: 0 5px;
  }
.song-item h3 {
    font-size: 25px;
    letter-spacing: 2px;
    text-align: center;
    padding: 0;
    margin: 0;
}
.song-item {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(109.6deg, rgb(245, 239, 249) 30.1%, rgb(207, 211, 236) 100.2%); 
    gap: 10px;
    width: fit-content;
    color: black;
}
.song-details {
    margin-bottom: 10px;
}
.song-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}
.song-actions a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    background-color: #007bff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.song-actions a:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

@media (max-width:1400px) {
    .song-details{
        font-size: 13px;
    }
}